.heart {
    color: #ff002e;
}
.globe {
    color: #0095ed;
}
.plane {
    color: #7904a9;
}
.music {
    color: #f30bcb;
}
.laptop {
    color: #4b826e;
}
.battery {
    color: #ffd500;
}
.code {
    color: #002342;
}
.area {
    color: #33a90d;
}
.cube {
    color: #ed5800;
}
.lightbulb {
    color: #fb6767;
}
.container-pags {
    background-color: #e1d2d2;
}
.titulo-pags {
    background-color: #fff7ec;
}
.fonts-usadas {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}