<div class="row">
    <div class="col-md-4">
        <div class="col-md-12 sessao">
            <p class="titulo text-center">Receitas <i class="fa fa-cutlery"></i></p>
            <hr class="primeira">
            <hr class="segunda">
            <span class="descricao">
                Guardarei aquelas receitas que quero repetir em algum momento. <br>
                Todas as receitas do caderno de Ni...<br>
                E novas receitas que eu faça e goste...<br>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 sessao">
            <p class="titulo text-center">Estudos <i class="fa fa-lightbulb-o"></i></p>
            <hr class="primeira">
            <hr class="segunda">
            <span class="descricao">
                Manter assuntos que me interessa<br>
                Testar novas tecnologias<br>
                Guardar links<br>
                Priorizar itens
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 sessao">
            <p class="titulo text-center">Filmes/Séries <i class="fa fa-film"></i></p>
            <hr class="primeira">
            <hr class="segunda">
            <span class="descricao">
                Guardar as coisas que quero assistir<br>
                Organizar as coisas que estou vendo<br>
                Avaliar novas séries/filmes<br>
                Buscar sempre itens novos
            </span>
        </div>
    </div>
    <div class="col-md-12 text-center rodape">
        <hr>
        <i class="fa fa-home"></i>
    </div>
</div>